script(src='/javascripts/angular.min.js')
script(src='/javascripts/index.js')
script(src='/javascripts/jquery-2.1.3.min.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/bootstrap-switch.min.js')
script(src='/javascripts/ajax.js')
script(src='/javascripts/responsive-web-design.js')
//
   Created by nmu on 18/03/2015.

