doctype html
html
    head
        title= title
        link(rel="shortcut icon" href="/images/auth_icon.png" type="image/ico")
        link(rel='stylesheet', href='/stylesheets/style.css')
        //bootstrap
        link(rel='styleSheet', href='/stylesheets/bootstrap.min.css')
        link(rel='styleSheet', href='/stylesheets/bootstrap-switch.min.css')
//
   Created by nmu on 18/03/2015.

